* {
 margin: 0;
 padding: 0;
}

body {
 font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
 background: rgb(140, 215, 189);
 color: rgb(60, 60, 60);
}
section {
 float: left;
 width: 60%;
}
aside {
 float: right;
 width: 40%;
}

button {
 background: rgb(79, 79, 79);
 border-radius: 5px;
 border: none;
 padding: 5px 10px;
 font-weight: 800;
 color: rgb(189, 193, 196);
 box-shadow: 0px 0px 2px black;
 cursor: pointer;
}
button:active {
 color: rgb(135, 139, 142);
 background: rgb(42, 42, 42);
 box-shadow: 0px 0px 1px black;
}
h1 {
 font-size: 35px;
 margin: 20px;
}
h2 {
 font-size: 25px;
 margin: 15px;
}

textarea#txtArea {
 margin: 15px;

 color: rgb(42, 42, 42);
 background: rgb(209, 227, 182);
 border-radius: 5px;
 padding: 3px;
}
textarea#txtArea:active {
 border: 1px solid black;
}
.sample {
 display: block;
 margin: 15px;
}
.c {
 margin-left: 15px;
}
button {
 /* please wait */
 margin: 15px;
}
.tf-tree * {
 border-radius: 15px;
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
 border: 2px solid rgb(47, 255, 206);
 background: rgb(173, 214, 242);
}
.Hider {
 height: 15px;
 width: 15px;
 border-radius: 20px;
 background: rgb(81, 81, 111);
 position: relative;
 z-index: 1;
 color: aliceblue;
 text-align: center;

 cursor: pointer;
 transition: 0.3s;
 transform: translateY(225%);
}
.Hider:hover {
 height: 17px;
 width: 17px;

 background: rgb(102, 102, 139);
}

/* Get member area! */
.getMember {
 border: 2px solid rgb(42, 42, 42);
 display: grid;
 margin: 15px 15px;
 padding: 15px 20px;
 grid-template-columns: 2fr 1fr;
 grid-template-areas:
  "one two"
  "three four";
 align-items: center;
}
.getMember .textData {
 grid-area: one;
 align-items: left;
 justify-content: space-around;
 display: flex;
 gap: 10px;
 flex-direction: column;
}
.getMember .textData input {
 width: 70%;
}
.getMember .photoSelector {
 position: relative;
 grid-area: two;
 display: grid;
 grid-template-columns: 1fr;

 align-items: center;
}
.getMember .photoSelector .heading {
 font-weight: bold;
 text-align: center;
 margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
 padding: 5px 15px;
 border: 1px black dashed;
 border-radius: 5px;
}

.getMember button {
 grid-area: three;
 margin-left: 0px;
 width: 50%;
}
.getMember input[name="hash"] {
 grid-area: four;
 width: 60%;
 margin: auto;
 cursor: pointer;
}

input:focus {
 outline: none;
 box-shadow: 0px 0px 2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
 -webkit-appearance: none;
}
